@font-face {
  font-family: 'Comfortaa';
  src: local(Comfortaa), url('../fonts/Comfortaa-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: local(HelveticaNeueCyr-Light), url('../fonts/HelveticaNeueCyr-Light.woff2') format('woff2');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: local(HelveticaNeueCyr-Roman), url('../fonts/HelveticaNeueCyr-Roman.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: local(HelveticaNeueCyr-Medium), url('../fonts/HelveticaNeueCyr-Medium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
}
